*{
    margin: 0;
    padding: 0;
    font-family: Arvo;
}
.Header-background{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    align-items: flex-start;
}
.Header-Tittle{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    padding: 20px 0px;
    margin-bottom: 10px;
    margin-left: 162.5px;
    
    
}
.Logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900px;
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
}
.Link-one , .Link-two , .Link-three{
    font-size: 18px;
    color: #E5E7EB;
}
.Header-Tittle-link{
    width: 620px;
    display: flex;
    justify-content: space-between;
}
.Header-Content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    padding: 20px 0px;
    margin-left: 162.5px;
}
.Content-Head{
    color: #F9FAF8;
    font-size: 48px ;
    font-weight: 700;
    width: 620px;
}
.content-pa{
    color: #E5E7EB;
    font-size: 20px;
    width: 450px;
}
.content-buttons{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
}
