*{
    margin: 0;
    padding: 0;
    font-family: Arvo;
}
.Header-background{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    align-items: flex-start;
}
.Header-Tittle{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    padding: 20px 0px;
    margin-bottom: 10px;
    margin-left: 162.5px;
    
    
}
.Logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900px;
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
}
.Link-one , .Link-two , .Link-three{
    font-size: 18px;
    color: #E5E7EB;
}
.Header-Tittle-link{
    width: 620px;
    display: flex;
    justify-content: space-between;
}
.Header-Content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    padding: 20px 0px;
    margin-left: 162.5px;
    align-items: flex-start;
}
.Content-Head{
    color: #F9FAF8;
    font-size: 48px ;
    font-weight: 700;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
}
.content-pa{
    color: #E5E7EB;
    font-size: 20px;
    width: 450px;
}
.content-buttons{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    margin-top: 10px;
}
.img{
    display: flex;
    align-self: center;
    color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    background-color: grey;
    text-align:justify center
}
.First-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Random-head{
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #1d2937;
}
.smile-logo{
    border-radius: 10px;
    height: 200px;
}
.somerandom-text{
    font-size: 20px;
    color: #1F2937;
    font-weight: 300;
    width: 200px;
    text-align: center;
}
.random-information{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    padding-top: 20px;
}
.qoute{
    margin-top: 30px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.quote-word{

    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
}
.author{
    font-size: 32px;
    font-weight: 700;
    color: #1F2937;
    padding-top: 10px;
    margin-left: 300px;
}
.main3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1240px;
    background-color: #3882f6;
    margin-left: 162.5px;
    margin-top: 50px;
    height: 100px;
    border-radius: 5px;
}
.Call{
    color: #E5E7EB;
}
.sign{
    color: #E5E7EB;
}
.buttons-blue{
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #E5E7EB;
    width: 100px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding-top: 5px;
    padding-bottom:5px ;
}
.hero-main4{
    margin-top: 50px;
    background-color: #1d2937;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.items2{
    color: #E5E7EB;
    font-size: 20px;
}